.homeContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    background-color: #FFFAE1;
  }
  
  .tabsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab {
    margin-right: 10px;
    cursor: pointer;
    color: black;
    padding: 10px;
  }
  
  .tabContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
  }
  
  .relative {
    position: relative;
  }
  
  .group {
    cursor: pointer;
  }
  
  .imageContainer {
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  
  .imageOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  }
  
  .group:hover .imageOverlay {
    opacity: 1;
  }
  
  .imageText {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }

  .title {
    font-size: 24px;
    color: black;
    text-align: center;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
  }
  
  .relative {
    position: relative;
  }
  
  .overflowHidden {
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* This maintains the aspect ratio of the containers */
  }
  
  .imageOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 300ms;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  }
  
  .group:hover .imageOverlay {
    opacity: 1;
  }
  
  .imageText {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  
  .customFileUpload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #8b000070;
    color: black; /* Text color */
}

.file-upload-container {
  display: grid;
  place-items: center;
  padding: 20px; /* Adds some space inside the container */
}

/* Add to your index.module.css */
.centeredText {
  text-align: center;
  padding: 20px 0;
  font-size: 24px; /* Adjust size as needed */
  color: #333; /* Adjust text color as needed */
}

/* Add to your index.module.css */
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* This centers the content vertically */
  align-items: center; /* This centers the content horizontally */
  height: 100vh; /* Make it as tall as the viewport */
}


#file-chosen {
    margin-left: 10px;
    color: black; /* Ensuring the text color is black */

    
}